<h2>Opel</h2>
<p>{{nombre}}, desde opel hemos recibido tus datos en nuestra web y te damos las gracias por ello.</p>
<p>Para mas información: <a href="www.opel.es"> Opel</a></p>
<p>Atentamente, Gabriel García López</p>
